@import url(../../assest/css/theme.css);

.heroform {
    background: #555;
    display: flex;
    flex-direction: column;
    width: 29vw;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: .5rem;
    padding: .5rem;
    border-radius: .3rem;
    z-index: 1;
}

.herosection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.closeicon{
    max-width: 26px;
    max-height: 26px;
}

.formcontainer{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.title {}

.adrsinputs {}

.formsection {}

.modalFooter {
    display: flex;
  flex-direction: row;
  gap: 1rem;
}

.dummy {
    background: var(--backgroundImg);
    padding: .3rem;
    border: none;
}

.actions {
   display: flex;
   flex-direction: row;
   gap: .3rem;
}

.cancel {
    background: var(--backgroundImg);
    padding: .3rem;
    border: none;
}

.save {
    background: var(--backgroundImg);
    padding: .3rem;
    border: none;
}