
:root{
    --font:ui-rounded;

    /* for header */
    --header-text-fonts-sizes:16px;
    --header-text-fonts-color:#d0e4f6;
    /* --header-text-fonts-decoration:; */
    --header-text-font-family:"Poppins-SemiBold";
    --header-text-font-weights:700;

    /* header part is over */


    /* know login screen */
    --login-text-fonts-sizes:1rem;
    --login-text-fonts-color:#d0e4f6;
    /* --login-text-fonts-decoration:; */
    --login-text-font-family:"Poppins-SemiBold";
    --login-text-font-weights:600;
    --login-text-bg-color:grey;


    /* login screen over */





    /* for background-color:*/
    --default-color:#F0F8FF;
    --primary-color:black;
    --secondary-color:white;
    --gray-color:rgb(199, 198, 198);

    --backgroundImg:linear-gradient(99deg, rgb(186, 46, 65) 71%, rgba(208, 39, 61, 0.954) 88%, rgb(216, 21, 21) 100%);
    /* for headers */
    --head-txt-size:1rem;
    --head-txt-weight:550;

    --head-txt-color:var(--primary-color);
    --head-txt-hover:var(--default-color);
    /* end header */


    /* for product-listing */

    --pro-head-size:1.5rem;
    --pro-head-weight:560;

    --pro-md-size:1.2rem;
    --pro-md-weight:530;

    --pro-txt-size:1rem;
    --pro-txt-weight:500;

    --pro-txt-color:var(--primary-color);
    /* end product-listing */


    /* for cart page */
    --cart-head-size:var(--pro-md-size);
    --cart-head-weight:var(--pro-md-weight);

    --cart-txt-size:1rem;
    --cart-txt-weight:500;

    --cart-txt-color:var(--default-color);

    --real-price-size:1.1rem;
    --real-price-weight:560;

    --dis-price-size:.9rem;
    --dis-price-weight:500;

    /* cart page end */

    /* land page */
    --land-head-s:1.4rem;
    --land-head-w:600;

    --land-txt-s:var(--pro-md-size);
    --land-txt-w:var(--pro-md-weight)


    /* land page end */
}



