@import url(../../assest/css/theme.css);

body {
	box-sizing: content-box;
	margin: 0;
}

.ecom-header {
	width: 100vw;
	display: flex;
	flex-direction: row;
	height: auto;
	background: var(--backgroundImg);
	color: var(--header-text-fonts-color);
	padding: 1rem;
	position: sticky;
	font-size: var(--header-text-fonts-sizes);
	font-family: var(--header-text-font-family);


}

.icon-container {
	flex-basis: 10%;
	display: flex;
}

.img-link {
	margin: 0 auto;
	display: flex;
	gap: 0.44rem;
}

.admin-icon {
	border: grey 2px solid;
	padding: 0.4rem;
	border-radius: 60px;
}

.user-name {
	align-content: center;
	display: flex;
	align-items: center;

	color: var(--header-text-fonts-color);
	font-size: var(--header-text-fonts-sizes);
	font-family: var(--header-text-font-family);
}

.account-link {
	display: flex;
	gap: 0.44rem;
	text-decoration: none;
	font-size: large;
	font-weight: 590;
	color: purple;
}


.icon {
	width: 3rem;
	height: 3rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	align-content: center;
}

.ecom-nav {
	display: flex;
	flex-basis: 25%;
	gap: 1.1rem;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

.nav-link {
	font-size: var(--header-text-fonts-sizes);
	font-weight: var(--header-text-font-weights);
	text-decoration: none;
	color: var(--header-text-fonts-color);
	/* --header-text-fonts-sizes */
}

.search-bar {
	flex-basis: 35%;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

.search {
	width: 60%;
	margin: 0 auto;
	position: relative;
	background-color: var(--secondary-color);
	padding: 1rem;
	border: 2px solid grey;
	border-radius: 9999px;
	outline: none;
	font-family: var(--header-text-font-family) !important;
	font-weight: var(--header-text-font-weights);
	/* color: var(--header-text-font-color); */
}

.search-icon {
	width: 1rem;
	height: 1rem;
	position: absolute;
	left: 52.2rem;
}

/* .nav-link:hover {
	color: var(--default-color);
	background-color: var(--primary-color);
} */

.socials-ecom {
	display: flex;
	flex-direction: row;
	flex-basis: 25%;
	gap: 1.5rem;
	justify-content: flex-end;
	justify-items: center;
	align-items: center;
	color: var(--header-text-fonts-color);
}

.social-icons {
	max-width: 2rem;
	max-height: 2rem;
}

.badgeswish {
	position: absolute;
	top: 1.2rem;
	right: 8.6rem;
	border-radius: 50%;
	background-color: grey;
	width: 1.2rem;
	text-align: center;
	color: var(--header-text-font-color);
}

.badgesbag {
	position: absolute;
	top: 1.2rem;
	right: 5.5rem;
	border-radius: 50%;
	background-color: grey;
	width: 1.2rem;
	text-align: center;
	color: var(--header-text-font-color);
}

@media only screen and (max-width: 385px) {
	.ecom-nav {
		display: none;
	}

	.search-bar {
		display: flex;
		justify-content: center;
		justify-items: center;
		align-items: end;
		position: absolute;
		top: 4rem;
		width: 100%;
		left: 0px;
	}

	.ecom-header {
		width: 100vw;
		display: flex;
		flex-direction: row;
		position: relative;
		height: 20vh;
		background-color: var(--default-color);
		color: var(--primary-color);
		padding: 0rem;
		position: sticky;
		justify-content: space-around;
	}

	.search {
		width: 90%;
		border-radius: 50px;
		outline: none;
	}

	.icon-container {
		padding-left: 0;
		align-content: flex-start;
		align-items: flex-start;
	}

	.socials-ecom {
		margin-top: .5rem;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		align-content: flex-start;
	}
}

@media only screen and (max-width: 825px) {
	.ecom-nav {
		display: none;
	}

	.search-bar {
		display: flex;
		justify-content: center;
		justify-items: center;
		align-items: end;
		position: absolute;
		top: 4rem;
		width: 80%;
		left: 30px;
	}

	.ecom-header {
		width: 100vw;
		display: flex;
		flex-direction: row;
		position: relative;
		height: 19vh;
		background-color: var(--default-color);
		color: var(--primary-color);
		padding: 0rem;
		position: sticky;
		justify-content: space-between;
	}

	.search {
		width: 90%;
		border-radius: 50px;
		outline: none;
	}

	.icon-container {
		padding-left: 30px;
		align-content: flex-start;
		align-items: flex-start;
		justify-content: flex-start;
	}

	.socials-ecom {
		margin-top: .5rem;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		align-content: flex-start;
	}

	.badgeswish {
		display: none;
	}

	.badgesbag {
		display: none;
	}
}