@import url(../../../assest/css/theme.css);

.login-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 3.3rem;
	background: var(--backgroundImg);
	height: calc(100% - 85px);
}

.input-email {
	outline: none;
}

.input-pwd {
	outline: none;
}


.log-contains {
	display: flex;
	width: 100%;
}

.ecom-search {
	position: absolute;
	left: 48rem;
}

.forms {
	margin-top: 3rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	max-height: 80vh;
}

.ecom-form {
	width: 37%;
	background-color: var(--primary-color);
	border: 2px solid var(--secondary-color);
	border-radius: 5px;
	box-shadow: inset;
}

.ecom-user {
	text-align: center;
	color: var(--login-text-fonts-color);
	font-family: var(--login-text-font-family);
	font-weight: var(--login-text-font-weights);
}

.ecom-label {
	color: var(--login-text-fonts-color) !important;
	font-family: var(--login-text-font-family);
	font-weight: var(--login-text-font-weights);
}

.login-btn-med {
	display: flex;
}

.log-btn {
	background-color: var(--login-text-bg-color);
	color: var(--login-text-fonts-color);
	width: 50%;
	padding: 0.3rem;
	font-size: var(--login-text-fonts-sizes) !important;
	font-weight: var(--login-text-font-weights);
	border-radius: 9999px;
	cursor: pointer;
	border: none;
}

.ecom-warn {
	position: absolute;
	right: 30rem;
	top: 14.5rem;
}

.ecom-email {
	position: absolute;
	right: 30rem;
	top: 24.1rem;
}

.redirect {}

.ecom-signup {
	text-decoration: none;
	color: var(--login-text-fonts-color) !important;
	font-family: var(--login-text-font-family);
	font-size: var(--login-text-fonts-sizes);
	font-weight: var(--login-text-font-weights);
}

.ecom-signup:hover {
	color: var(--login-text-bg-color) !important;
}

.log-as-guest {
	width: 100%;
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 480px) {
	.ecom-form {
		width: 80%;
	}
}