@import url(../../assest/css/theme.css);


.p-container {
    width: 100%;
    height: calc(100% - 85px);
    background: var(--backgroundImg);
    text-align: center;
    color: white;
    padding-top: 2rem;
}

.p-parts {
    width: 50%;
    display: flex;
    background-color: aliceblue;
    margin: 0 auto;
    justify-content: center;
}

.side-bar {
    flex-basis: 40%;
    background: var(--backgroundImg);
}


.navigations {
    background-color: rgb(96, 96, 90);
}

.navigation {
    list-style: none;
    background: var(--backgroundImg);
    height: 2rem;
    margin: 0.5rem;
}

.link-navs {
    color: aliceblue;
}

.link-navs:hover {
    color: black !important;
}

.active-page{
    color: rgb(68, 68, 120);
}


.main-section {
    flex-basis: 60%;
    background: var(--backgroundImg);
}

.adrs-box {
    border: 1px solid aliceblue ;
    display: flex;
    justify-content: space-around;
}

.address-sections{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.addnew{
    margin-top: 1rem;
}

.adrs-label {
    text-align: left;
}

.acc-log{
    background-color: brown;
    border: 1.8px solid rebeccapurple;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
}